@model TechShop.Areas.Admin.ViewModels.UserProfileViewModel

<a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
   aria-haspopup="true" aria-expanded="false">
    <span>Hello,</span> <span class="text-dark">@Model.Username</span> <i data-feather="chevron-down"class="svg-icon"></i>
</a>