@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-0">
    <div class="row">
        <div class="col-md-5 col-xl-4">
            @Html.Partial("_menuOptionCustomer")
        </div>
        <div class="col-md-7 col-xl-8">
            <div class="tab-content">
                <div class="tab-pane show active" id="account" role="tabpanel">
                    <div class="card">
                        <div class="d-flex gap-3">
                            <div class="card-body border border-dark" style="flex:1;">
                                <div class="d-flex">
                                    <img src="https://cellphones.com.vn/smember/_nuxt/img/headphones%201.c7d474f.png" alt="cps-img" class="item__img">
                                    <div class="content">
                                        <p class="content__title">Purchasing advice (8AM - 10PM)</p>
                                        <a href="#">1800.1212</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body border border-dark" style="flex:1;">
                                <div class="d-flex gap-2">
                                    <img src="https://cellphones.com.vn/smember/_nuxt/img/waranty%201.a9ef39d.png" alt="cps-img" class="item__img">
                                    <div class="content">
                                        <p class="content__title">Warranty (8AM - 9PM)</p>
                                        <a href="#">1800.3434</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="d-flex gap-3">
                            <div class="card-body border border-dark" style="flex:1;">
                                <div class="d-flex">
                                    <img src="https://cellphones.com.vn/smember/_nuxt/img/bad-review.ac59f16.png" alt="cps-img" class="item__img">
                                    <div class="content">
                                        <p class="content__title">Complain (8AM - 9PM)</p>
                                        <a href="#">1800.8724</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body border border-dark" style="flex:1;">
                                <div class="d-flex gap-2">
                                    <img src="https://cellphones.com.vn/smember/_nuxt/img/message%201.259c9d3.png" alt="cps-img" class="item__img">
                                    <div class="content">
                                        <p class="content__title">Email</p>
                                        <a href="#">cskh@techshop.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>