@model TechShop.Core.Models.Comment

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card m-0">
                <div class="card-body">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb" style="padding: 0px; margin-bottom: 0px; background: none">
                            <li class="breadcrumb-item" aria-current="page"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a asp-area="Admin" asp-controller="Comments" asp-action="Index">Comments</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Detail</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 m-3">
            <div class="card">
                <div class="card-body">
                    @{
                        await Html.RenderPartialAsync("_commentItemPartial", Model);
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://kit.fontawesome.com/234dbdcb6e.js" crossorigin="anonymous"></script>
}
